@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
   margin: auto;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.main{
    /* background: url('images/bg-pattern-desktop.svg')  ; */
    background:  url('images/bg-pattern-desktop.svg');
    background-blend-mode: multiply;
    max-width: 53vw;
    height: auto;
    padding: 3rem 10vw;   
}
.image{
    
    max-height: 100vh;
    max-width: 50vw
}
.image img{
    
    width: fit-content;
    height: 100%;
}
h2{
    color: var(--desaturated-red);
    margin-top: 4.5rem;
    font-size: 7vw;
    font-weight: 300;
    letter-spacing: 1rem;
}
h1{
    font-size: 5.4vw;
    font-weight: 500;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

p{
    color: var(--desaturated-red);
    font-size: 1.1rem;
    margin-top: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.email{
    display: flex;
    border: 1px solid var(--desaturated-red);
    border-radius: 2rem;
    width: 100%;
    max-width: 30vw;
    height: 3rem;
}
input[type="email"] {
    width: 100%;
    padding: 1rem 0.3rem 1rem 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
}

button{
    background:var(--gradient-2);
    color: white;
    border: none;
    padding: 0.8rem 3vw;
    border-radius: 2rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    
    
}
button:hover{
    box-shadow: 2px 2px 5px 1px var(--desaturated-red);
}
.error{
    color: var(--soft-red);
    font-size: 1.2rem;
    margin-top: 1.5rem;
    font-weight: 500;
}
.error-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    align-self: center;
    /* position: relative; */
    top: -0.2rem;
}

/* .email{
    display: flex;
    border: 1px solid black;
    border-radius: 2rem;
    width: 100%;
    max-width: 30vw;
    height: auto;
    position: relative;
    justify-content: space-between;
}
input[type="email"] {
    
    width: 78%;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;

}

button{
    position: absolute;
    right: -2px;
    top: -2px;
    background-color: rgb(229, 103, 80);
    color: white;
    border: 1px solid transparent;
    padding: 14.9px 3rem;
    border-radius: 2rem;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;

    
} */

@media (max-width: 620px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 2rem 5vw;
        align-items: center;
        text-align: center;
    }

    .image {
        max-width: 100%;
        background-image: url('images/bg-pattern-mobile.svg') !important;
        height: auto;
    }

    h2 {
        font-size: 8vw;
        margin-top: 2rem;
    }

    h1 {
        margin-top: 1rem;
        font-size: 6vw;
    }

    p {
        font-size: 1.2rem;
    }

    .email {
        max-width: 80vw;
    }

    button {
        padding: 0.8rem 7vw;
        font-size: 1.2rem;
    }
}

/* Pending  parts 

1. Add hover effects to the button
2. error comes outline in red color 

3. image should be responsive for mobile view code based on js 

4. button should be responsive for mobile view

*/